---
layout: default
title: Nolan Can Read
---
<div class="posts noList">
  <h1 class="pageTitle">{{ page.title }}</h1>

  {%- for post in page.paginator.posts -%}
  <article>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
    <h3>
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p class="meta">By {{ post.author }}</p>
    <p class="meta">{{ post.stars | default: 0 | star_rating}}</p>
    <p>
      {%- if post.description -%}{{ post.description }}{%- else -%}{{
      post.excerpt | strip_html | truncatewords: 40 }}{%- endif -%}
    </p>
  </article>
  {%- endfor -%}
</div>
<!-- Pagination links -->
<div class="pagination">
  {%- for link in page.paginator.page_links -%}
    {%- if link == "..." -%}
      <span>...</span>
    {%- elsif link.current -%}
      <span>{{ link.current }}</span>
    {%- else -%}
      <a href="{{ link.url }}">{{ link.label }}</a>
    {%- endif -%}
  {%- endfor -%}
</div>
