---
layout: default
title: Nolan Can Read
---
<div class="home" id="home">
	<div class="posts noList">
		{%- for post in page.linked_docs -%}
		<article>
			<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
			<h3>
				<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
			</h3>
      <p class="meta">By {{ post.author }}</p>
      <p class="meta">{{ post.stars | default: 0 | star_rating}}</p>
			<p>
				{%- if post.description -%}{{ post.description }}{%- else -%}{{
				post.excerpt | strip_html | truncatewords: 40 }}{%- endif -%}
			</p>
		</article>
		{%- endfor -%}
	</div>
</div>
